*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: hsl(0, 2%, 8%);
}

.h{
    text-align: center;
    color: white;
    margin-top: 6%;
}
.e{
    text-align: center;
    color: white;
    margin-top: 1%;
}
.w{
   margin-top: 10px; 
    background-color: rgb(234, 234, 234);;
}
.w1{
    margin-left: 540px;
}
.e2{
   font-family: 'Times New Roman', Times, serif;
   font-weight: 300px;
   font-size: 35px;
   font-weight: 600;
   margin-right: 540px;
   margin-top: -200px;
}
.t2{
    color:black;
    font-size: 25px;
   padding-bottom: 90px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.s2{
    margin-left: 35px;
    height: 3%;
    width: 15%;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.w3{
    text-align: center;
    color: white;
}
h3{ 
    text-decoration: underline;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.e3{
    margin-top: 15px;
    line-gap-override: 5px;
    text-align: center;
    font-size: 20px;
}


